<div class="span9">  
          <div class="leaderboard">  
            <center><h1>About</h1> </center>    
          <div class="row-fluid pagination-centered">  
            <div class="span6">
              <h2>Hobbies</h2>  
              <p><dt>Playing League of Legends</dt>
				<dd>-Summoner name: Allestar</dd>
				<dt>Music</dt>
				<dd>-Violin player for 17 years</dd>
				<dd>-Ukulele player for 2 years.</dd></p>
            </div><!--/span-->  
            <div class="span6">  
              <h2>Organizations</h2>  
              <p>
              	<dt>National Residence Hall Honorary (NRHH)</dt>
				<dd>-General Member Winter 2012 - Current</dd>
				<dt>Association of Computer Machinery</dt>
				<dd>- General Member since 2011, Secretary 2013-2014</dd>
              </p>
            </div><!--/span--> 
            </div><!--/row-->
            <div class="row-fluid pagination-centered"> 
            <div class="span6">  
              <h2>School</h2>  
              <p> 
              	<dt>Missouri University of Science and Technology (Formerly UMR)</dt>
				<dd>-B.S. Computer Science <i>Graduation Date:</i>   May 2014</dd>
              </p>  
            </div><!--/span--> 
           <div class="span6">
           	<h2>Residential Life</h2>
           	<p>
           	<dt>Resident Assistant</dt>
				<dd>-2011-2012 in Thomas Jefferson hall</dd>
				<dt>Senior Resident Assitant</dt>
				<dd>-2012-2013 in Residential College</dd>
				<dt>Head Resident</dt>
				<dd>-2013-2014 Quadulangular Complex</dd>
			</p> 
          </div><!--/row-->

