<h1>Links</h1>


<div class="row-fluid">  
            <div class="span4">
              <h2>Google</h2>  
              <p>Now, I know this might seem obvious, but to many people it is not, a simple google search can help you through anything you need and can help you find helpful links and pages.</p>  
             <p><a class="btn btn-success btn-large" href="http://www.google.com">Google</a></p> 
            </div><!--/span-->  
            <div class="span4">  
              <h2>Stack Overflow</h2>  
              <p>Have a really obscure problem? Think it may have never been solved before. You may be wrong, stack overflow is a forum that allows people to post code and have the world that is Stack Overflow help you fix your problems!</p>  
              <p><a class="btn btn-success btn-large" href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></p>
            </div><!--/span-->  
            <div class="span4">  
              <h2>Twitter Bootstrap</h2>  
              <p>Want a slick looking website but don't know how to code the 2000 line css page? Want help in making different parts of your web page slick, well twitter bootstrap is the place for you! It has so many demos and guides and help to get your site started!</p>  
              <p><a class="btn btn-success btn-large" href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a></p>
            </div><!--/span-->  
          </div><!--/row-->  

          <br>
          <hr>
          <br>

          <div class="row-fluid">  
            <div class="span4">
              <h2>GoRails</h2>  
              <p>Go Rails is a project from one of my reall good friends. He's probably one of those people that you think of when you need help especially when it comes to ruby on rails. This site gives guides and suggestions on what you should be doing or how to add specific gems to your application.</p>  
             <p><a class="btn btn-success btn-large" href="http://www.gorails.com">Go Rails</a></p> 
            </div><!--/span-->  
            <div class="span4">  
              <h2>Rails Casts</h2>  
              <p>Are you more of a visual learner then an reader? Then Rails Casts will be the best way to get your information, there are videos as well as written guides to explain what's going on when you add different models, as well as interacting with different gems. </p>  
             <p><a class="btn btn-success btn-large" href="http://www.railscasts.com">Rails Casts</a></p>
            </div><!--/span-->  
            <div class="span4">  
              <h2>Udacity</h2>  
              <p>Udacity is a free easy friendly website that can give you classes. There are many different classes that you can take in the range from intro to computer programming to artificial intelligence.</p>  
              <p><a class="btn btn-success btn-large" href="https://www.udacity.com/">Udacity</a></p>
            </div><!--/span-->  
          </div><!--/row-->  

          <br>
          <hr>
          <br>

          <div class="row-fluid">  
            <div class="span4">
              <h2>W3Schools</h2>  
              <p>If you really need physical code of whats going on, but when you look at guides there is too much other stuff clouding the information then W3 school is exactly what you are looking for. If you need a simple example W3 school will give you the bare bones minimum of what you need to do to accomplish your task.</p>  
             <p><a class="btn btn-success btn-large" href="http://www.w3schools.com">w3schools</a></p> 
            </div><!--/span-->  
            <div class="span4">  
              <h2>Apidock</h2>  
              <p>ApiDock is a way to get better at documentation within a site that you are working on. It also gives you specific help with Rails.</p>  
             <p><a class="btn btn-success btn-large" href="http://www.apidock.com">ApiDock</a></p>
            </div><!--/span-->  
            <div class="span4">  
              <h2>Project Euler</h2>  
              <p>Need to learn a new programming language? Then this place will be an easy way to learn a new programming language. Project Euler is a database of math questions that you can solve using different languages.</p>  
              <p><a class="btn btn-success btn-large" href="http://projecteuler.net">Project Euler</a></p>
            </div><!--/span-->  
          </div><!--/row-->  
