		<div class="span9">  
          <div class="leaderboard">  
            <center><h1>Classes</h1> </center> 
            <p>Below are the lists of classes I've taken and some different languages / environments I worked in to complete each class in Computer Science</p>  
          </div>   
          <div class="row-fluid">  
            <div class="span4">
              <h2>C.S. 53</h2>  
              <p><b>Intro To Computer Programming</b></p><p> In This Class I learned C++ in the intro class, and demonstrated knowledge with working with 2-D arrays and other simple functionality with C++.</p>  
             <!-- <p><a class="btn btn-success btn-large" href="#">Learn Now!</a></p> --> 
            </div><!--/span-->  
            <div class="span4">  
              <h2>C.S. 54</h2>  
              <p><b>Intro Into Programming Programming Lab</b></p><p> In this Class I learned to impliment what I learned in C.S. 53 into a hands on environment. Here I worked in VIM and C++.</p>  
             <!--- <p><a class="btn btn-success btn-large" href="#">See What I've Developed!</a></p>  -->
            </div><!--/span-->  
            <div class="span4">  
              <h2>C.S. 128</h2>  
              <p><b>Discrete Mathematics For Computer Science</b></p><p> In this class I learned the background information about Computer Science. I learned Math. Induction, as well as other theory. </p>  
              <!--<p><a class="btn btn-success btn-large" href="#"></a></p>  -->
            </div><!--/span-->  
          </div><!--/row-->
          <hr>
          <br>

           <div class="row-fluid">  
            <div class="span4">
              <h2>Computer Engineering 111</h2>  
              <p><b>Introduction to Computer Engineering.</b>/p><p> Binary arithmetic, Boolean algebra, logic and
memory elements, computer organization. We also worked with NAND NOR XOR AND OR NOT gates as well as did different Kmaps.</p>  
             <!-- <p><a class="btn btn-success btn-large" href="#">Learn Now!</a></p> --> 
            </div><!--/span-->  
            <div class="span4">  
              <h2>Computer Engineering 112</h2>  
              <p><b>Computer Engineering Lab</b></p><p> In this lab we worked on creating a seven segment display all semester. We took it piece by piece and worked with different design software.</p>  
             <!--- <p><a class="btn btn-success btn-large" href="#">See What I've Developed!</a></p>  -->
            </div><!--/span-->  
            <div class="span4">  
              <h2>Computer Engineering 213</h2>  
              <p><b>Digital Systems Design</b></p><p>
              C and Assembly were used to program the project. The project had to take input from the user on a SIMON board and had do do adding and subtracting with the numbers. Specializations included; piano functionality, programmed songs, and integration with an external LCD.</p>  
              <!--<p><a class="btn btn-success btn-large" href="#"></a></p>  -->
            </div><!--/span-->  
          </div><!--/row-->  
          <hr>
          <br>

           <div class="row-fluid">  
            <div class="span4">
              <h2>C.S. 153</h2>  
              <p><b>Data Structures</b></p><p> A continuation of the
              development of structured programming concepts
              and their use in program development. Stacks,
              queues, linked list, arrays, trees, sorting and
              searching will be taught together with their use in
              implementations of a number of algorithms, </p>  
             <!-- <p><a class="btn btn-success btn-large" href="#">Learn Now!</a></p> --> 
            </div><!--/span-->  
            <div class="span4">  
              <h2>C.S 253</h2>  
              <p><b>Algorithms</b></p><p> In this class I learned about how different algorithms run in time and the theory about them. Also in this class we had to write papers and demonstrate our knowledge of the algorithms and theory but running programs to give us output of how long they each took in Polonomial time. We also learned about NP Hard NP Complete and NP problems. I used C++ to figure out all of the problems set that were given.</p>  
             <!--- <p><a class="btn btn-success btn-large" href="#">See What I've Developed!</a></p>  -->
            </div><!--/span-->  
            <div class="span4">  
              <h2>C.S. 238</h2>  
              <p><b>File Structures And Introduction To
Database Systems</b></p><p> In this class I learned how to manage a database and how to connect a front end website to a back end database. I created a project with a team that had different design phases throuhoug the whole semester. The final project was a website written in HTML and C# that would look for classes that had previous test notes or homeworks and would return who taught them and which semester they were taught. I used C#, SQL, Visual Studio and HTML to do the project.</p>  
              <!--<p><a class="btn btn-success btn-large" href="#"></a></p>  -->
            </div><!--/span-->  
          </div><!--/row-->  
          <hr>
          <br>

           <div class="row-fluid">  
            <div class="span4">
              <h2>C.S. 256</h2>  
              <p><b>Programming Languages And Translators</b> In this class we worked with MFPL and worked with Yacc and Bison to create a program that would detect errors and give good error messages for the first part of the semester. The second part of the semester we took to learn Lisp Prolog and Ruby, there was a lot of C++ in this class.</p>  
             <!-- <p><a class="btn btn-success btn-large" href="#">Learn Now!</a></p> --> 
            </div><!--/span-->  
            <div class="span4">  
              <h2>C.S. 362</h2>  
              <p><b>Security Operations & Program Management</b> In this class we worked on creating a security agreement for a company that was similar to Pay Pal. We did all of the planning on the hard ware software and physical security levels as well as took into consideration the best ways of keeping the environments fast and safe.</p>  
             <!--- <p><a class="btn btn-success btn-large" href="#">See What I've Developed!</a></p>  -->
            </div><!--/span-->  
            <div class="span4">  
              <h2>C.S. 220</h2>  
              <p><b>Theory of Computer Science</b> I learned in this 
					course  the theoretical underpinnings of
					computer science. In particular, this coursewill
					cover the following topics: basic computability
					and formal language concepts, regular languages,
					context free languages, recursively-enumerable
					languages, and classes P, NP, and NPcompleteness. There was no programming languages used, but working with 2 tape machines and state machines was a common thing. </p>  
              <!--<p><a class="btn btn-success btn-large" href="#"></a></p>  -->
            </div><!--/span-->  
          </div><!--/row-->  
          <hr>
          <br>

           <div class="row-fluid">  
            <div class="span4">
              <h2>C.S. 228</h2>  
              <p><b>Intro to Numerical Methods</b></p><p> in this class I learned finite difference interpolation, numerical
differentiation and integration, linear systems
ofequations, solution of nonlinear equations,
numerical solution of ordinary differential
equations, computational techniques and the
programming of a large number of problems on
digital computers. I used matlab and python in this class to help me work out the problems. </p>  
             <!-- <p><a class="btn btn-success btn-large" href="#">Learn Now!</a></p> --> 
            </div><!--/span-->  
            <div class="span4">  
              <h2>I.D.E 20</h2>  
              <p><b>Design Class</b></p><p> In this class I worked on a team to start a project from scratch. The project we had was to throw a ball as far as possible. our team decided to use a trebouche. We had alpha and beta testing and did paperwork throughout the whole entire project as well as gave a final presentation at the end. </p>  
             <!--- <p><a class="btn btn-success btn-large" href="#">See What I've Developed!</a></p>  -->

         </div>
      <div class ="span4">
        <h2>Statistics 215</h2>
        <p><b>Engineering Statistics</b></p><p>
        An introduction to statistical methods in engineering
        and the physical sciences dealing with basic
        probability, distribution theory, confidence
        intervals, significance tests, and sampling. Set Theory was also an application used in this class. 
      </p>
    </div>
  </div>
  <hr>

  <div class="row-fluid">
      <div class ="span4">
        <h2>C.S. 301</h2>
        <p><b>Data Mining</b></p><p>Data mining and knowledge discovery utilizes both classical and new algorithms, such as 
        machine learning and neural networks, to discover previously unknown relationships in data. The topics covered in this course will include data preprocessing, mining association rules, classification and prediction methods, and clustering techniques. 
      </p>
    </div>
      <div class ="span4">
        <h2>C.S. 388</h2>
        <p><b>High Performance Computer Architecture </b></p><p>Overviews high
        performance architecture of computing systems
        and covers various architectural/hardware and
        software/algorithmic means that enhance
        performance. Uniprocessor and concurrent
        systems are investigated. Various computational
        models are studied and linked tocommercial
        systems. There was a project that dealt with the universal question, which is better, CISC, or RISC
      </p>
    </div>
      <div class ="span4">
        <h2>C.S. 284</h2>
        <p><b>Introduction to Operating Systems</b></p><p>This course teaches the concepts, structure, andmechanisms of Operating Systems. Topics include process management, concurrency, synchronization, deadlock, multithreading, memory management, scheduling, and internetworking. Special emphasis is given to Unix and its modern-day derivatives. There was a project to create a bash file, a project to create a chat room, and a project to work with multithreading.
      </p>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
      <div class ="span4">
        <h2>C.S. 206</h2>
        <p><b>Software Engineering</b></p>Development
        of methodologies useful in the software
        engineering classical life cycle. This includes:
        requirements, design, implementation, and
        testing phases. These methodologies are
        reinforced through utilization of a CASE tool and a
        group project<p>
      </p>
    </div>
      <div class ="span4">
        <h2>Biology 231</h2>
        <p><b>General Genetics</b></p>The study of the
principles of heredity and reasons for variation in
living organisms. Includes Mendelian
principles,molecular, population, and evolutionary
genetics with examples from a diverse array of
species<p>
      </p>
    </div>



