
<div class="pagination-centered"><h1>Request a resume!</h1>

Please click below to request a resume! 

<%= link_to 'Resume form', new_user_path %></div>

<p>If you have any questions please feel free to email me at <a href="mailto:email@echoecho.com?subject=Question for Tiffani Dutton">
info.tiffani.dutton@gmail.com</a> 
