<html>        
        <div class="span9 pagination-centered">  
          <div class="leaderboard">  
            <h1>Learn. Develop. Inspire.</h1>  
            <p>My name is Tiffani Dutton and I am currently a Senior in Computer Science at Missouri S&T. </p>  
          </div> 
          <div class="span4 offset2">
          <%= image_tag("me.png", :alt => "me!") %>
        </div>
          <div class="row-fluid">  
            <div class="span4">  
              <h2>Learn</h2>  
              <p>I'm getting my B.S. in Computer Science from Missouri S&T (UMR), I will be graduating May of 2014 and am actively seaking fulltime employment</p>  
             <!-- <p><a class="btn btn-success btn-large" href="#">Learn Now!</a></p> --> 
            </div><!--/span-->  
            <div class="span4">  
              <h2>Develop</h2>  
              <p>I am currently working on an App for Android Phones. It will allow people to keep track of video games that they personally own as well as price check video games they find at stores.</p>  
             <!--- <p><a class="btn btn-success btn-large" href="#">See What I've Developed!</a></p>  -->
            </div><!--/span-->  
            <div class="span4">  
              <h2>Inspire</h2>  
              <p>Through the help of Twitter Bootstrap, and other Rails sites this whole site was made possible.</p>  
              <!--<p><a class="btn btn-success btn-large" href="#"></a></p>  -->
            </div><!--/span-->  
          </div><!--/row-->  
          <hr> 

          </body> 
    
</html>  